.info {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50vh;
    background-color:rgb(28, 28, 36);   
    color:white;
   
}

.aboutMe {
    display: flex;
    justify-content: center;
    width: 600px;
}

.info > h1 {
    padding-bottom: 10px;
    font-weight: 600;    
    font-size: 20px;
    display: flex;
    align-items: center;

}

.aboutMe > h5 {
    font-weight: 400;  
    font-size: 15px;
    color: rgb(118, 134, 150);
    padding-right: 100;
    padding-left: 100;
    
}

.contact {
    display: flex;
    padding-top: 50px;
    
}

.adresses > h1 {
    padding-right: 250px;
    padding-bottom: 10px;
    font-weight: 600;    
    font-size: 20px;
}

.adresses > h2, h3, h4, h5, h6 {
    padding-bottom: 5px;
    font-weight: 400;  
    font-size: 15px;
    color: rgb(118, 134, 150);
}

.resume__button > Button {
    color: white;
    border-color: white;
    border-width: 0.1px;
}